@import "./normalize";
// @import "skeleton.css";

$gloria:'Gloria Hallelujah', cursive;
$tenor:'Tenor Sans', sans-serif;

.tenor {
    font-family: $tenor;
}
.gloria {
    font-family:$gloria;
}
#logout-button {
    cursor: pointer;
}
.full-width {
    width: 100vw;
    max-width: 100%;
}

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.title {
    padding:1rem;
    font-family: $tenor;
}
.content {
    font-size:1.2rem;
    // border:1px dashed red;
    font-family:$tenor;
    padding:1rem;
    border-radius: 5%;
}
.vote-box {
    margin-top:2rem;
}
