// colors
$primary-color:rgb(83, 169, 87);
$secondary-color:darkred;
$success-color:green;
$error-color:red;
$info-color:blue;

// spacing
$base-padding:0.75rem;
$base-margin:0.75rem;

// borders
$base-border-thickness:1px;
$base-border-radius:20px;
$debug-border: 1px dashed red;

$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
$base-font-size: 5rem;



