
{{define "header"}}
<header>
    <logo>

    </logo>
    <nav class="list-nav container">
        <ul class="row">
            <li><a href="/">Home</a></li>
            <li><a href="/board">Boards</a></li>
            <li><a href="/about">About</a></li>
            {{if .IsAuthenticated}}<li><a href="/profile">Profile</a></li>{{end}}
        </ul>
    </nav>
    <searchbar>

    </searchbar>
</header>
{{end}}