


{{define "navbar"}}
<nav class="row teal darken-1 nav-wrapper">
    
    <a href="/" class="brand-logo left">ThoughtSea</a>
    <ul id="nav-mobile" class="right">
        {{if .Authenticated}}
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
          <i class="material-icons">sentiment_very_satisfied</i>
        </a></li>
        {{else}}
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">
          <i class="material-icons">sentiment_very_dissatisfied</i>
        </a></li>
        {{end}}
    </ul>
  </nav>

  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile" class="blue-text">Profile</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li id="logout-button"><a class="red-text">Logout</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li id="login-button"><a href="#!">Log In</a></li>
    <li class="divider"></li>
    <li id="register-button"><a href="#!">Sign Up</a></li>
</ul>
{{end}}


{{define "footer"}}
<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2023 Your Company Name
      <a href="https://github.com/dedpidgon/go-web-app" class="btn">
        <i class="material-icons">github</i>
      </a>
      </div>
    </div>
  </footer>
{{end}}

