{{template "base" .}}

{{define "content"}}
    {{$mine:= eq .Client.ID .P.AuthorID}}
    {{$logged_in:= .Client.Authenticated}}

    {{template "chemical" .X}}
    <div class="post-page">
            <h1 class="blue lighten-2 white-text title center-align">
                {{.P.Title}}
            </h1>
        
            <pre style="white-space: pre-wrap;"><p class="content">{{.P.Content}}</p></pre>
            <p class="author-name gloria"> ~ {{.P.AuthorName}} : {{template "score" .P.Score}}</p>
            {{if $logged_in}}
            {{template "voting" .P}}
            {{end}}
    
            {{if and $logged_in $mine}}
                <a 
                class="btn-large blue accent-4 waves-effect" id="post-updater">Update</a>
                <a class="btn-large red waves-effect" id="post-deleter" value="{{.P.ID.Hex}}">Delete</a>
            {{end}}
            {{if $logged_in}}
            <a 
            class="btn-large yellow darken-2 black-text" 
            id="comment-creator" parent="{{.P.ID.Hex}}">
                Comment <i class="material-icons right">comment</i>
            </a>  
            {{end}} 

        
    </div>
    {{template "comment-list" .P.Comments }}
{{end}}