{{define "comment-list"}}
<div class="container full-width">
    <div class="row">
        {{range .}}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content grey lighten-4">
                    <i class="material-icons comment-icon yellow darken-2 col s12">comment</i>
                    <p class="content">{{.Content}}</p>
                </div>
                <div class="card-action grey lighten-3">
                    {{if .GetClient.Authenticated}}
                    {{template "voting" .}}
                    {{end}}
                    <div class="center author-tag">
                        <span>{{.DateString}}</span>
                        <a href="/profile/{{.AuthorID.Hex}}" class="gloria orange-text text-darken-3">
                            - {{.AuthorName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}

{{define "post-list"}}
<div class="container full-width">
    <div class="row">
        {{range .}}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content grey lighten-4">
                    <a href="/post/{{.ID.Hex}}"><span class="card-title post-title blue lighten-2 white-text title center-align">{{.Title}}</span></a>
                    <p class="content truncate">{{.Content}}</p>
                </div>
                <div class="card-action grey lighten-3">
                    {{if .GetClient.Authenticated}}
                    {{template "voting" .}}
                    {{end}}
                    <div class="center author-tag">
                        <span>created : {{.DateString}}</span>
                        <a href="/profile/{{.AuthorID.Hex}}" class="gloria orange-text text-darken-3">
                            by : {{.AuthorName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}

{{ define "post-creator"}}
<form id="post-creator" class="row">
    <div class="input-field col s12">
        <input name="title" id="post_title" type="text" class="validate">
        <label for="post_title">Title</label>
    </div>
    <div class="input-field col s12">
        <textarea name="content" id="post_content" class="materialize-textarea"></textarea>
        <label for="post_content">Content</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
    </button>
</form>
{{end}}


