{{template "base" .}}

{{define "content"}}
    {{$mine:= eq .Client.ID .P.AuthorID}}
    {{$logged_in:= .Client.Authenticated}}

    {{template "chemical" .X}}
    <div class="post-page">
        <div class="row">
            <h1 class="center-align blue lighten-2 white-text title">{{.P.Title}}</h1>
        </div>
        <div class="divider"></div>
        <div class="row">
            <p class="center-align content">{{.P.Content}}</p>
        </div>
        <div class="row">
            <p class="author-name gloria">{{.P.AuthorName}}</p>
        </div>
        <div class="row footer">
            {{if and $logged_in $mine}}
                <a class="btn" id="post-updater">Update</a>
                <a class="btn" id="post-deleter" value="{{.P.ID.Hex}}">Delete</a>
            {{end}}
            {{if $logged_in}}
            {{template "voting" .P}}
            {{end}}
        </div>
    </div>
    {{template "comment-list" .P.Comments }}
    {{if $logged_in}}
        <a id="btn comment-creator">Comment</a>  
    {{end}}
{{end}}