{{template "base" .}}

{{define "content"}}
<div class="row profile-page">
    <div class="container">
        <div class="row">
            <h1 class="gloria">{{.U.Name}}</h1>
            <h3 class="gloria">{{.U.Email}}</h3>
        </div>
        <div class="row">
            <p class="tenor">{{.U.Bio}}</p>
        </div>
        {{if .Client.Authenticated}}
            {{if eq .Client.ID .U.ID}}
                <div class="row">
                    <button class="btn waves-effect" id="update-button">Update</button>
                    <button class="btn waves-effect" id="delete-button">Delete</button>
                </div>
            {{end}}
        {{end}}
    </div>
    </div>
</div>
{{end}}