{{template "base" .}}

{{define "content"}}


    <h2>This is the profile page</h2>
    <div class="container">
        <div class="row">
            <h1>{{.U.Name}}</h1>
            <h3>{{.U.Email}}</h3>
        </div>
        <div class="row">
            <p>{{.U.Bio}}</p>
        </div>
    </div>

        {{if .IsAuthenticated}}
            {{if eq .UserID .ID}}
                <button>Update</button>
                <button>Delete</button>
            {{end}}
        {{end}}

{{end}}